[submodule "dev/utest_helper_1"]
	path = dev/utest_helper_1
	url = https://github.com/masterspline/utest_helper_1.git
	branch = export
[submodule "timertt"]
	path = timertt
	url = https://github.com/masterspline/timertt.git
	branch = export
